cloudhub-logging-with-anypointmq/src/main/mule/splunk-logging.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="splunk-loggingFlow" doc:id="ea666a8c-b2e2-481c-ab7e-4cd7984d2088" >
		<anypoint-mq:subscriber doc:name="Subscriber" doc:id="a8b8ddee-0d46-455f-ad58-cf99e6619146" config-ref="Anypoint_MQ_Config" destination="${anypointmq.queue}"/>
		<ee:transform doc:name="DW JSON Payload" doc:id="522df4be-ac78-4a4b-b91b-9aeae0b15fb4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="services/collector/raw" doc:id="66542bf7-a125-4789-8146-c305ed6f04ff" url="http://localhost:8088/services/collector/raw">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Splunk " ++ p('splunk.token')
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"channel" : p('splunk.guid')
}]]]></http:query-params>
		</http:request>
		
	</flow>
</mule>
